.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}
.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 100px;
    font-weight: 700;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .carousel-caption{
        bottom: 30%;
    }
    .carousel-caption h2{
        font-size: 50px;

    }
}
@media only screen and (max-width: 768px){
    .carousel{
        height: 40vh;
    }
    .carousel-caption{
        top: 12vh;
        padding-left: 5px;
        padding-right: 5px;
    }
    .carousel-caption h5{
        font-size: 30px;
        font-weight: 700;
    }
    .carousel-caption p{
        font-size: 10px;
        font-weight: 500;
    }
}